.project-img {
  height: 300px;
  width: 700px;
}

.logos {
  height: 46px;
  width: 46px;
}

.post-imgs {
  height: 300px;
  width: 500px;
}

.experience {
  display: flex;
  justify-content: space-between;
}

.experience-imgs {
  height: 46px;
  width: 46px;
  border-radius: 50%;
}
